* {
  padding: 0;
  margin: 0;
}

.section1 {
  padding: 280px 0px;
}
.counter {
  text-align: center;
  position: relative;
}
.counter h2 {
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
}
.btn {
  padding: 15px 25px;
  background-color: rgb(159, 159, 159);
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 100px;
}
.valuetext {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 745px;
  top: 80px;
}
